name: Build and Test

permissions:
  contents: write
  packages: write
  pages: write

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore: ['docs/**', 'mkdocs.yml']
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Lint
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Golang
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        cache-dependency-path: 'go.sum'

    - name: Build
      run: |
        go build ./cmd/pgcov

    - name: GolangCI-Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
  
  test:
    if: true # false to skip job during debug
    needs: build
    runs-on: ubuntu-latest
    name: Test
    steps:

    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Golang
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        cache-dependency-path: 'go.sum'

    - name: Test
      run: |
        go test -failfast -v -timeout=300s -coverprofile=profile.cov ./cmd/... ./internal/...

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        file: profile.cov
